# Ignore build files
/build/
*.o
*.obj
*.so
*.dll
*.exe
*.a
*.lib

# Ignore CMake cache files
CMakeCache.txt
CMakeFiles/

# Ignore logs and temp files
*.log
*.tmp

# Ignore IDE specific files (optional, based on your IDE)
.vscode/
.idea/

# Ignore everything in external
/external/*
# Except Git submodules (which have .git files or directories)
!/external/*/.git